/**
 * style rules for roboviz
 */

html {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    font-family: sans-serif;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

body * {
    box-sizing: border-box;
}

/*
 * Model Controls
 */

.window {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.window-inactive {
    width: 0;
    height: 0;
}

.rm-file {
    box-sizing: content-box;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
    padding: 6px;
    color: white;
    text-align: center;
    margin: 0;
}

.rm-file[data-state="enabled"] {
    background-color: hsla(0, 47%, 50%, 0.7);
    cursor: pointer;
}

.rm-file[data-state="enabled"]:hover {
    box-shadow: 0 0 7px hsla(0, 47%, 95%, 0.9);
}

.rm-file[data-state="disabled"] {
    background-color: hsla(0, 0%, 50%, 0.7);
}

.floor-toggle {
    position: absolute;
    top: 8px;
    right: 64px;
    margin: 0;
    padding: 16px 8px;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.6);
    border-radius: 3px;
    z-index: 999;
}

.floor-toggle input {
    margin-left: 8px;
}

.toolbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    min-height: 3rem;
}

.model-title {
    color: #DFDFDB;
    text-align: center;
    font: Helvetica, Sans-Serif;
    text-transform: uppercase;
    margin-top: -10px;
}

.styled-select {
    background: rgba(223, 223, 219, .4) url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    overflow:hidden;
    width:350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
}

.styled-select select {
    background: transparent;
    border: none;
    color: #fff;
}

.raise:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(-0.25em);
}

.model-controls {
    width: 464px;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .15);
    padding: 32px 64px 64px 16px;
    color: #DFDFDB;
    font: Helvetica, Sans-Serif;
}

.model-controls[data-state="expanded"] {
    margin-left: 0;
    transition: margin-left 0.3s ease-out;
}

.model-controls[data-state="collapsed"] {
    margin-left: -400px;
    transition: margin-left 0.3s ease-out;
}

.toggle[for="model-controls"] {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 64px;
    padding: 16px 0;
    text-align: center;
}

select[for="model-group"] {
    margin-bottom: 8px;
}

.control {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 70%);
    margin-bottom: 24px;
}

.control > h4 {
    margin-top: 0;
}

.textures {
    margin-bottom: 24px;
}

.textures a {
    text-decoration: none;
    color: hsl(0, 0%, 70%);
    margin-right: 16px;
    vertical-align: middle;
    transition: color 0.2s ease-out;
}

.textures a:hover {
    color: hsl(0, 0%, 0%);
}

.textures a .sample {
    margin-left: 8px;
    display: inline-block;
    width: 27px;
    height: 27px;
    background-size: cover;
    border: 1px solid black;
}

.textures a[data-texture="bricks"] .sample {
    background-image: url("../assets/images/bricks.png");
}

.textures a[data-texture="cloth"] .sample {
    background-image: url("../assets/images/cloth.png");
}

.textures a[data-texture="concrete"] .sample {
    background-image: url("../assets/images/concrete.png");
}

.textures a[data-texture="desert"] .sample {
    background-image: url("../assets/images/desert.png");
}

.textures a[data-texture="grass"] .sample {
    background-image: url("../assets/images/grass.png");
}

.textures a[data-texture="lace"] .sample {
    background-image: url("../assets/images/lace.png");
}

.textures a[data-texture="marble"] .sample {
    background-image: url("../assets/images/marble.png");
}

.textures a[data-texture="matrix"] .sample {
    background-image: url("../assets/images/matrix.png");
}

.textures a[data-texture="metal"] .sample {
    background-image: url("../assets/images/metal.png");
}

.textures a[data-texture="steel"] .sample {
    background-image: url("../assets/images/steel.png");
}

.textures a[data-texture="stone"] .sample {
    background-image: url("../assets/images/stone.png");
}

.textures a[data-texture="wood"] .sample {
    background-image: url("../assets/images/wood.png");
}

.colors {
    margin-bottom: 24px;
}

.colors a {
    text-decoration: none;
    color: hsl(0, 0%, 70%);
    margin-right: 16px;
    vertical-align: middle;
    transition: color 0.2s ease-out;
}

.colors a:hover {
    color: hsl(0, 0%, 0%);
}

.colors a:after {
    content: "";
    margin-left: 8px;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.colors a[data-color="0xff0000"]:after {
    background-color: #ff0000;
    border: 1px solid black;
}

.colors a[data-color="0x0000ff"]:after {
    background-color: #0000ff;
    border: 1px solid black;
}

.colors a[data-color="0x00ff00"]:after {
    background-color: #00ff00;
    border: 1px solid black;
}

.colors a[data-color="0xffff00"]:after {
    background-color: #ffff00;
    border: 1px solid black;
}


/*
 * Playback Controls
 */

#speedOutput {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 30px;
    left: -86px;
    bottom: -15px;
}

 .playback-controls {
     position: absolute;
     bottom: 0;
     width: 100%;
     padding: 16px 0;
     text-align: center;
 }

.playback-controls > button {
    background-color: rgba(223, 223, 219, .4);
    color: black;
    border:none;
    padding: 0;
    padding: 8px 0;
    margin: 0 32px;
    border-radius: 0px;
    cursor: pointer;
    width: 118px;
}

.playback-controls > button[data-toggle="play"]:after {
    content: "PAUSE";
    color: black;
 }

 .playback-controls > button[data-toggle="pause"]:after {
     content: "PLAY";
     color: black;
 }

 .range-with-label {
     display: inline-block;
 }

 .range-with-label .value {
     margin: 0 auto;
     margin-bottom: 8px;
     width: 48px;
     padding: 8px 0;
     border: 1px solid hsl(0, 0%, 80%);
     border-radius: 3px;
     text-align: center;
     vertical-align: middle;
 }

.range-with-label label {
    min-width: 16px;
}
 .range-with-label .right-label {
     float: right;
     color: rgba(223, 223, 219, 1);
 }

 .range-with-label .left-label {
     float: left;
     color: rgba(223, 223, 219, 1);
 }

 /*
  * Progress Bar
  */

  #modelTimeVal {
      color: black;
      background-color: rgba(223, 223, 219, .4);
  }

  #modelSpeedVal {
      color: black;
      background-color: rgba(223, 223, 219, .4)
  }

  #progress-holder {
    height: 10px;
    width: 70vw;
    margin: auto;
    background: #cecece;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  #progress-bar {
    background: #848484;
    width: 0%;
    z-index: 1;
    padding: 0;
    height: 100%;
  }
